---
layout: layouts/master.njk
---

<main>

  <h1>About</h1>
  <p>To see more, visit
    {% Button
      'eleventy-shortcomps repo <span aria-hidden="true">&nearr;</span>',
      'https://github.com/adamduncan/eleventy-shortcomps'
    %}
  </p>

</main>