---
layout: layouts/master.njk
---

<main>

  <h1>Hello, Eleventy Shortcomps</h1>

  <h2>Some Shortcode components</h2>
  {% Button 'This is a button' %}
  {% Button 'This is a button link', '/about' %}
  {% Button 'This is a primary button link', '/about', true %}

  <h2>Some Paired Shortcode components</h2>
  {% Wrapper %}
    {% Card 'Zach Leatherman', 'Bio text goes here.', 'https://zachleat.com' %}
    {% Card 'Adam Duncan', 'Other card bio text goes here.', 'https://adamduncandesigns.com' %}
  {% endWrapper %}

  <h2>Props variation (<a href="https://github.com/adamduncan/eleventy-shortcomps#props-variation">see docs</a>)</h2>
  {% Image {
    src: 'https://www.11ty.io/img/possum-sm.png',
    altText: 'Possum suspended in mid-air by red balloon',
    caption: '@jameswillweb\'s Eleventy logo (<a href="https://twitter.com/jameswillweb/status/999052022497316865">source</a>)'
  } %}

</main>